/* DROPDOWN NAV START */
@media only screen and (min-width: 992px) {
  .navbar-nav .nav-item {
    display: block;
    transition-duration: 0.5s;
  }

  .navbar-nav .with-submenu {
    position: relative;
    overflow: visible!important;
  }

  .navbar-nav .with-submenu .dropdown-nav {
    background: black;
    padding: 5px 15px 5px 15px;
    margin-left: 10px;
    margin-top:0;
    min-width: 120px;
  }
  .navbar-nav .with-submenu .dropdown-nav .dropdown-nav-link {
    color: white;
    font-weight: bold;
    font-size: smaller;
    width: 100%;
  }

  .navbar-nav .nav-item ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease-in-out;
    
    left: 0;
    display: block;
  }
  .navbar-nav .nav-item:hover > ul, .nav-item ul:hover, .nav-item .dropdown-nav:hover {
    visibility: visible;
    opacity: 1;
  }
  .navbar-nav .with-submenu .dropdown-nav:hover {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }
  .navbar-nav .with-submenu .dropdown-nav:hover .dropdown-nav-link {
    color: black;
  }
  .navbar-nav .nav-item li {
    clear: both;
    width: 100%;
  }
  .navbar-nav .nav-item .dropdown-nav .dropdown-nav-item:hover i {
    opacity: 1;
  }
  .only-on-mobile {
    /* Hide pricing on desktop to only show on mobile */
    display: none!important;
  }
}

.service-pricing-btn {
  float:right;
  @media only screen and (max-width:500px) {
    padding: 5px;
  }
}

.navbar-nav .nav-item .dropdown-nav .dropdown-nav-item i {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

@media only screen and (max-width: 991px) {
  .navbar-nav .nav-item:hover > ul, .nav-item ul:hover, .nav-item .dropdown-nav {
    display:none;
  }
  .navbar-nav .with-submenu i {
    /* Delete this style if you want to enable dropdown support on mobile */
    display: none;
  }
  /* UNCOMMENT, to enable mobile support for dropdown (bad css right now)
  
  .navbar-nav .nav-item:hover > ul, .nav-item ul:hover, .nav-item .dropdown-nav:hover {
    display:block;
  }*/
  .navbar-nav .with-submenu .dropdown-nav .dropdown-nav-link {
    /* Copy of nav-item as not possible otherwise without scss */
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav .with-submenu .dropdown-nav .dropdown-nav-item {
    border: 0px;
  }
}

@media only screen and (min-width: 768px) {
.no-margin-padding-top-on-desktop {
  margin-top:0!important;
  padding-top:0!important;
}
}

.cc-banner.cc-bottom {
  z-index: 999999999999999999;
}

/* Needed as main.css only makes h1-3 responsive, but not h4, h5. That's a half-clean workaround */
@media only screen and (max-width: 768px) {
  h4 {
    font-size: 1.1rem;
  }
  h5 { 
    font-size: 1rem;
  }
}

.highlighted_company_logos {
  margin-top: 30px;
}
.highlighted_company_logo {
  width: auto;
  max-height: 45px;
  margin: 20px;
}

@media only screen and (max-width: 768px) {
  /* Mobile */
  .cookiealert {
    z-index: 2147483645!important; /* display over facebook messenger but only on mobile as cookie alert otherwise overlapped */
  }
  .highlighted_company_logos {
    /* Hide company logos on mobile as simply too much */
    display: none;
  }
}

.acceptcookies {
  color: inherit!important;
}

i {
    padding: 5px;
    font-size: 15px;
}

.no-filter {
    filter: none!important;
}

.major-icon {
    font-size: 18px;
    padding: 5px 20px 5px 5px;
    color: #38538c!important;
}

.big-icon {
    font-size: 40px;
    text-shadow: 4px 4px 4px #ededed;
}
#distinctions {
    padding-top: 10px;
    padding-bottom: 80px;
}
.distinction, .distinction:visited,
.service-principle {
    text-align: center;
    margin-top: 40px;
    color: #707F9F;
    -webkit-transition: 0.35s -webkit-color ease-in-out;
    -moz-transition: 0.35s -moz-color ease-in-out;
    -moz-transition: 0.35s color ease-in-out;
    -ms-transition: 0.35s -ms-color ease-in-out;
    -o-transition: 0.35s -o-color ease-in-out;
    transition: 0.35s color ease-in-out, 0.35s -webkit-color ease-in-out;
}
.distinction:hover, .distinction:active {
  color: #243559;
}
.distinction-title, .service-principle-title {
    font-size: 20px;
    margin-top: 8px;
    display: block;
    filter: none!important; /* Remove opacity hover effect */
}
.service-principle-title {
  min-height: 60px; /* Only for service principle as it has no subtitle/description */
}
.distinction-description {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .hide-on-mobile {
        display:none;
    }
}

.modal-content {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}

.icon-link:active, .icon-link:hover {
    color: inherit;
}

.noselect {
    /* Especially useful on smartphones as text-selects are often not wanted */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.bold {
    font-weight: bold;
}

/* Carousel Impressions */
.image-heading {
    /* Used to avoid using a h-tag (SEO) */
    font-size: 3em;
    font-weight: bold;
}
@media only screen and (max-width: 767px) {
    .carousel_img, .carousel_img:visited,
    .carousel_img:hover, .carousel_img:active {
        filter: none;
        cursor: pointer;
    }
    .carousel-indicators {
        /* In mobile view the bottom indicators have too much margin at the bottom */
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 768px) { 
    .carousel .carousel_img, .carousel:visited .carousel_img {
        cursor: pointer;
        filter: brightness(40%);
        -webkit-transition: 0.35s -webkit-filter ease-in-out;
        -moz-transition: 0.35s -moz-filter ease-in-out;
        -moz-transition: 0.35s filter ease-in-out;
        -ms-transition: 0.35s -ms-filter ease-in-out;
        -o-transition: 0.35s -o-filter ease-in-out;
        transition: 0.35s filter ease-in-out, 0.35s -webkit-filter ease-in-out;
    }
    .carousel:hover .carousel_img, .carousel:active .carousel_img {
        filter: brightness(100%);
    }
    .carousel:hover .carousel-caption, .carousel:active .carousel-caption {
        visibility:hidden;
        opacity: 0;
        transition: visibility 0s ease-in-out 0.35s, opacity 0.35s;
    }
    .carousel-caption h2 {
        color: #eee;
        font-size:2.4em;
    }
    .carousel-caption p {
        color: #aaa;
        font-size:1.2em;
    }
}
.carousel-indicators li::before {
    /* Hide li-points, but styled li-points should be still shown */
    visibility: hidden;
}

.navbar {
    /* Add min-height to navbar, to avoid that toggle-button overflows vertically in mobile view. */
    min-height: 50px;
}

/* Margin when columns becomes a row in grid */
.col-row-margin {
    margin-top: 20px;
}
.contact__info {
    padding-top: 0!important; /* overwrite padding when contact form is disabled */
}

.testimonial__author-info {
    margin-top: 10px;
}

/* For e.g. client logos -> reverse grayscale */
.grayscale, .grayscale:visited {
    filter: grayscale(100%);
    -webkit-transition: 0.25s -webkit-filter ease-in-out;
    -moz-transition: 0.25s -moz-filter ease-in-out;
    -moz-transition: 0.25s filter ease-in-out;
    -ms-transition: 0.25s -ms-filter ease-in-out;
    -o-transition: 0.25s -o-filter ease-in-out;
    transition: 0.25s filter ease-in-out, 0.25s -webkit-filter ease-in-out;
}
.grayscale:hover, .grayscale:active {
    filter: grayscale(0%);
}

img, img:visited {
    filter: grayscale(0%);
    -webkit-transition: 0.25s -webkit-filter ease-in-out;
    -moz-transition: 0.25s -moz-filter ease-in-out;
    -moz-transition: 0.25s filter ease-in-out;
    -ms-transition: 0.25s -ms-filter ease-in-out;
    -o-transition: 0.25s -o-filter ease-in-out;
    transition: 0.25s filter ease-in-out, 0.25s -webkit-filter ease-in-out;

    background: url(../img/utils/loading_infinity.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    object-fit: contain; /* to keep the relation when screen-size changes */
}
img:hover, img:active {
    filter: grayscale(100%);
}
img[src$='.png'], .hide-loading-indicator {
    /* Hide background for transparent images */
    background: none;
}

a {
    /* Remove underline from links, but add opacity instead */
    text-decoration: none!important;
    color: #459da1;
}
a span, a h1, a h2, a h3, a h4 {
    filter: opacity(100%);
    -webkit-transition: 0.25s -webkit-filter ease-in-out;
    -moz-transition: 0.25s -moz-filter ease-in-out;
    -moz-transition: 0.25s filter ease-in-out;
    -ms-transition: 0.25s -ms-filter ease-in-out;
    -o-transition: 0.25s -o-filter ease-in-out;
    transition: 0.25s filter ease-in-out, 0.25s -webkit-filter ease-in-out;
}
a span:hover, a span:active,
a h1:hover, a h1:active,
a h2:hover, a h2:active,
a h3:hover, a h3:active,
a h4:hover, a h4:active {
    filter: opacity(50%);
}

.container {
    /* Container overlaps header image in showcase.html (so hover effect on image only works on parts of the image) */
    z-index: -1!important;
}

/* Chips */
@media only screen and (min-width: 1200px) {
    /* Limiting chip width on desktop pcs to make it more readable */
    .chip {
        max-width: 45%;
    }
}
@media only screen and (max-width: 767px) {
  .chip, .chip:visited {
    font-size: 16px!important;
    padding: 3px!important;
    padding-left:6px!important;
    padding-right:6px!important;
    min-height: 30px!important;
  }  
}
.chip-turq-light {
  background-color: #81c5c9;
}
.chip-turq-dark {
  background-color: #459da1;
}

.chip-blue-light {
  background-color: #5286b0;
}

.chip-blue-dark {
  background-color: #38538c;
}
.chip:hover, .chip:active {
  filter: opacity(75%);
}
.chip, .chip:visited {
    display: inline-flex;
    flex-direction: row;
    border: none;
    color: #fff;
    cursor: pointer;
    min-height: 54px;
    outline: none;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 21px;
    white-space: normal;
    align-items: center;
    border-radius: 24px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
    margin: 5px 15px 15px 15px;
    -webkit-transition: 0.35s -webkit-background-color ease-in-out;
    -moz-transition: 0.35s -moz-background-color ease-in-out;
    -moz-transition: 0.35s background-color ease-in-out;
    -ms-transition: 0.35s -ms-background-color ease-in-out;
    -o-transition: 0.35s -o-background-color ease-in-out;
    transition: 0.35s background-color ease-in-out, 0.35s -webkit-filter ease-in-out;
}
.chip-list {
  list-style: none;
}
.chip-list li {
  color: #fff;
  text-indent: -1.5em;
}
.chip-list li::before {
  display: none;
}
.chip-content{
    cursor: inherit;
    display: flex;
    color: #fff;
    align-items: center;
    user-select: none;
    white-space: normal;
    margin-left: 10px;
}
.chip-svg{
    color: #fff;
    cursor: pointer;
    height: auto;
    margin: 4px 4px 0 -8px;
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}
.chip-close {
    padding-left: 15px;
    padding-bottom: 5px;
    float: right;
}

/* Hide link indicators (blue color, underline, ..)*/
.hide_link, .hide_link:visited, .hide_link:hover, .hide_link:active {
    color: inherit;
    text-decoration: none;
}


/* Abilities */
  .ability-block, .service-block:visited {
    padding: 40px 20px 30px 20px;
    text-align: center;
    margin-bottom: 20px;
    -webkit-transition: 0.35s -webkit-opacity ease-in-out;
    -moz-transition: 0.35s -moz-opacity ease-in-out;
    -moz-transition: 0.35s opacity ease-in-out;
    -ms-transition: 0.35s -ms-opacity ease-in-out;
    -o-transition: 0.35s -o-opacity ease-in-out;
    transition: 0.35s opacity ease-in-out, 0.35s -webkit-opacity ease-in-out;
    -webkit-transition: 0.35s -webkit-transform ease-in-out;
    -moz-transition: 0.35s -moz-transform ease-in-out;
    -moz-transition: 0.35s transform ease-in-out;
    -ms-transition: 0.35s -ms-transform ease-in-out;
    -o-transition: 0.35s -o-transform ease-in-out;
    transition: 0.35s transform ease-in-out, 0.35s -webkit-transform ease-in-out;
  }
  .ability-block:active, .ability-block:hover {
    opacity: 70%;
    transform: rotate(10deg);
  }
  
  .ability-block p,
  .ability-block h2 {
    color: #fff;
  }
  
  .ability-block h2 a:hover{
    text-decoration: none;
  }
  
  .ability-block-light,
  .ability-block-default {
    background: #fafafa;
    border: solid 1px #eee; 
  }
  
  .ability-block-default:hover {
    box-shadow: 0 0 8px #eee;
  }
  
  .ability-block-light p,
  .ability-block-light h2,
  .ability-block-default p,
  .ability-block-default h2 {
    color: #555;
  }

  .ability-block-turq-light {
    background: #81c5c9;;
  }

  .ability-block-turq-dark {
    background: #459da1;
  }

  .ability-block-blue-light {
    background: #5286b0;
  }

  .ability-block-blue-dark {
    background: #38538c;
  }
